*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    display:inline-block;
    transition: 0.5s ease;
}
.navigation a:hover{
    color: #09193b;
    transform: scale(1.1);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/22.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: capitalize;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: capitalize;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-size: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main h3 .front-end{
    color: #4e9eff;
}
.mainbutton{
    color:#fff ;
    text-decoration: none;
    background-color:#3a6cf4 ;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
    
}
.mainbutton:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-media a{
    color: #fff;
    font-size: 1.7em;
    padding: 20px;
    display:inline-block;
    transition: 0.5s ease;
    
}
.social-media a:hover{
    color:#0a49f6;
    transform: scale(1.3);
}
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.card1{
    background-color:   #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card1:hover{
    transform: scale(1.1);
}
.icon1{
    color: #3a6cf4;
    font-size: 6.5em;
    text-align: center;
}
.info1 h3{
    text-align: center;
    color: #3a6cf4;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 600;
    margin: 10px;
}
.info1 p{
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}
.card2{
    background-color:   #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card2:hover{
    transform: scale(1.1)
}
.icon2{
    color: #3a6cf4;
    font-size: 6.5em;
    text-align: center;
}
.info2 h3{
    text-align: center;
    color: #3a6cf4;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 600;
    margin: 10px;
}
.info2 p{
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}
.card3{
    background-color:   #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card3:hover{
    transform: scale(1.1)
}
.info3 h3{
    text-align: center;
    color: #3a6cf4;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 600;
    margin: 10px;
}
.info3 p{
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}
.icon3{
    color: #3a6cf4;
    font-size: 6.5em;
    text-align: center;
}
.projects{
    background-color: #09193b;
    
}
.content2{
    margin-top: 30px;
    display:flex ;
    
    
}
.project-card1{
    background-color: #fff;
    border:1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    
}
.project-card1:hover{
    transform: scale(1.1);
}
.project-card1 img{
    width: 100%;
}
.project-card1:hover .project-card1-image{
    opacity: 0.9;
}
.project-card2{
    background-color: #fff;
    border:1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    
}
.project-card2 img{
    width: 100%;
}
.project-card2:hover{
    transform: scale(1.1);
}
.project-card2:hover .project-card2-image{
    opacity: 0.9;
}
.project-card3{
    background-color: #fff;
    border:1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    
}
.project-card3 img{
    width: 100%;
}
.project-card3:hover{
    transform: scale(1.1);
}
.project-card3:hover .project-card3-image{
    opacity: 0.9;
}
.content3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.email{
    background-color:   #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.email:hover{
    transform: scale(1.1);
}
.email .icon5{
    color: #3a6cf4;
    font-size: 5.5em;
    text-align: center;
}
.email h3{
    color: #000;
    
    text-align: center;
}
.email p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    
}
.phone{
    background-color:   #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.phone:hover{
    transform: scale(1.1);
}
.phone .icon4{
    color: #3a6cf4;
    font-size: 5.5em;
    text-align: center;
    
}
.phone h3{
    color: #000;
    text-align: center;
    
}
.phone p{
    font-size: 1.25em;
    text-align: center;
    margin-top: 10px;
}
.footer{
    background-color:#09193b;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    font-size: 1.3em;
    font-weight: 600;
}
.footer p span{
    color:#3a6cf4;
}
.social-media2 a{
    color: #fff;
    font-size: 1.5em;
    padding: 0 12px 0 0;
    display:inline-block;
    transition: 0.5s ease;
}
.social-media2 a:hover{
    color:#0a49f6;
    transform: scale(1.3);
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb{
    background-color: #0a49f6
}
@media (max-width:700px){
    header{
        padding: 11px 12px;
    }
    .navigation a{
        padding-left: 3px;
        font-size:  1em;
        
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h3{
        font-size: 1.8em;
    }
    .main h2{
        font-size:1.3em ;
        font-weight: 600;
    }
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content2{
        flex-direction: column;
        align-items: center;
    }
    .content3{
        flex-direction: column;
        align-items: center;
    }
    .footer p{
        font-size: 0.8em;
    }
    .footer{
        padding: 1em;
    }
    .social-media2 a{
        font-size: 1.2em;
        padding-right: 6px;
        
}
}
